body{
    background: url('images/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

header{
    height: 70px;
}


.slideshow{
    width: 100%;
    height: 450px;
}
.text {
    color: #f2f2f2;
    font-size: 30px;
    border-width: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
  }

.name{
    color:white;
    margin-left: 28px;
    width: 27%;
    float: left;
}


.menu{
    position: fixed;
    background: #333; /* transparent effect or opacity*/
    width:100%;
    height: 70px;
    display: inline-block;
}

.nav{
    right:0;
    width: 70%;
    float:left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 25px; 
    text-align: right;
  }
li{
    padding: 20px;
    color:white;
    display: inline;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.menu-item:hover{
    background-color: rgb(253, 44, 44);
    border-radius: 5px;
    padding: 25px;
}
.categories{
    width: 100%;
}
.img-circle{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    float: left;
    padding: 40px;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;

}
.card{
    width:32%; 
    float: left;
}

.img-circle:hover{
    padding: 25px;
}

.container{
    width:100%; 
    display: inline-block;
}
footer{
    width: 100%;
    display: inline-block;
}